.coloursSelection{
    .flexContainer{
        justify-content: space-between;
    }
    legend{
        border: 1px solid black;
        width: 100%;
        padding-left: 50px;
    }

    .flexContainerDesert{
        display: flex;
        position: relative;
        input[type="radio"]{
            position: absolute;
            width: 90%;
            height: 90%;
            opacity: 1;
        }
        label {
            display: inline-block;
            background-color: #ddd;
            padding: 10px 20px;
            border: 2px solid #444;
            border-radius: 4px;
        }
    
        input[type="radio"]:checked + label:checked {
            background-color:#bfb;
            border-color: #4c4;
        }
    
        input[type="radio"]:focus + label,
        input[type="radio"]:hover + label {
            border: 2px dashed #444;
            cursor: pointer;
        }
    }

}